<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.prosamik.swipephotosapp</string>
	<key>CFBundleName</key>
	<string>Swipe Photos</string>
	<key>CFBundleDisplayName</key>
	<string>Swipe Photos</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>Swipe Photos</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.prosamik.SwipePhotos</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>io.supabase.swipephotos</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.991467204739-6i50e59emoqqhs0ej3hkho1g9ge5t6a9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>991467204739-6i50e59emoqqhs0ej3hkho1g9ge5t6a9.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict/>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID to securely authenticate your access to the app and protect your personal photos and data</string>
</dict>
</plist>
